{% extends 'base.html'%}

{% block title %} Form - Update Client {% endblock %}

{% block content %} 

  <form action="{{ url_for('update_client',id=id) }}" method=POST>
    <div class="row mb-4">
      <div class="col">
        <!-- First Name input -->
        <div class="form-outline">
          <label class="form-label" for="input-text-first-name">Nome</label>
          <input class="form-control" type="text" id="input-text-first-name" name="first_name" value="{{form.first_name if form}}" />
        </div>
      </div>
      <div class="col">
        <!-- Last Name input -->
        <div class="form-outline">
          <label class="form-label" for="input-text-last-name">Sobrenome</label>
          <input class="form-control" type="text" id="input-text-last-name" name="last_name" value="{{form.last_name if form}}" />
        </div>
      </div>
    </div>
  
    <div class="row mb-4">
      <div class="col">
        <!-- Razao Social input -->
        <div class="form-outline ">
          <label class="form-label" for="input-text-razao-social">Razão Social</label>
          <input class="form-control" type="text" id="input-text-razao-social" name="razao_social" value="{{form.razao_social if form}}" />
        </div>
      </div>
      <div class="col">
          <!-- CNPJ input -->
          <div class="form-outline ">
            <label class="form-label" for="input-text-cnpj">CNPJ</label>
            <input class="form-control" type="text" id="input-text-cnpj" name="cnpj" value="{{form.cnpj if form}}" />
          </div>
      </div>
    </div>
    

    <div class="row mb-4">

      <div class="col-8">
        <!-- Email input -->
        <div class="form-outline mb-4">
          <label class="form-label" for="input-text-email">Email</label>
          <input class="form-control" type="email" id="input-text-email" name="email" value="{{form.email if form}}"  />
        </div>
      </div>

      <div class="col">
        <!-- Phone input -->
        <div class="form-outline mb-4">
          <label class="form-label" for="input-text-phone">Telefone</label>
          <input class="form-control" type="text" id="input-text-phone" name="phone" value="{{form.phone if form}}"/>
        </div>
      </div>
    </div>
  
    <!-- Submit button -->
    <div class="col text-center">
      <button type="submit" class="btn btn-primary btn-block col-8  mb-4">Enviar</button>
    </div>
  </form>
{% endblock %}