{% extends 'base.html'%}

{% block title %} Homepage {% endblock %}

{% block static %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
{% endblock %}



{% block content %} 
<main >
    <div class="d-flex mb-2 justify-content-end">
        <a class="btn btn-dark" href="{{ url_for('create_client') }}">Add Client <i class="bi bi-plus-square"></i></a>
    </div>

    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <div class="flashes alert alert-success" role="alert"">
          <span>{{ messages[0] }}</li>
        </div>
      {% endif %}
    {% endwith %}

    <table class="table table-hover">

        <thead>
            <tr class="table-dark">
                <th scope="col">ID</th>
                <th scope="col">Razão Social</th>
                <th scope="col">CNPJ</th>
                <th scope="col">Email</th>
                <th scope="col">Telefone</th>
                <th scope="col"></th>
            </tr>
        </thead>
        
        <tbody>
            {% for client in data %}
            <tr>
                <th >{{client.id}}</th>
                
                <th> <a href="{{ url_for('update_client', id=client.id) }}">{{client.razao_social}}</a></th>
                
                <th>{{client.cnpj}}</th>

                <th>{{client.email}}</th>

                <th>{{client.phone}}</th>
                
                <th>
                    <a href="{{ url_for('update_client', id=client.id) }}"><i class="bi bi-pencil-square"></i></a>
                    <a href="{{ url_for('remove_client', id=client.id) }}"><i class="bi bi-trash-fill"></i></a>
                </th>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</main>

{% endblock %}